@use '../variables' as v;
@use 'sass:map';

.camera {
    &-interface {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: map.get(v.$z-index, interface);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 20px;

        &-capture-button {
            position: absolute;
            width: 88px;
            height: 88px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            aspect-ratio: 1;
            border-radius: 999px;
            border: 1.5px solid #F9FEFF;
            pointer-events: auto;
            bottom: -44px;
            left: 50%;
            transform: translateX(-50%);
            backdrop-filter: blur(2px);
            transition: box-shadow 0.3s ease, backdrop-filter 0.3s ease, transform 0.15s ease;

            &-hovered {
                box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.50);
                backdrop-filter: blur(2px);
            }

            &-inner {
                position: absolute;
                width: 88px;
                height: 88px;
                display: flex;
                padding: 8px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 8px;
                flex-shrink: 0;
                aspect-ratio: 1;
                border-radius: 999px;
                border: 1.5px solid #F9FEFF;
                pointer-events: auto;
                cursor: pointer;
                transition: box-shadow 0.3s ease, backdrop-filter 0.3s ease, transform 0.15s ease;

                &-text {
                    width: 100%;
                    max-width: 56px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #F9FEFF;
                    text-align: center;
                    font-family: 'Albert Sans', serif;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    transition: text-shadow 0.3s ease;
                }

                &-hovered {
                    background: rgba(249, 254, 255, 0.50);
                    box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.50);
                    backdrop-filter: blur(2px);
                }

                &-default {
                    background: rgba(249, 254, 255, 0.50);
                }
            }
        }
    }

    &-viewport {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 65%;
        max-width: 80%;
        aspect-ratio: 16/10;
        box-shadow: 0 0 0 9999px v.color(camera-bg);
        z-index: -1;
        border: 1px solid white;
        border-radius: 50px;
        overflow: visible;

        &::before {
            content: '';
            position: absolute;
            top: -2px;
            left: -2px;
            width: 25%;
            height: 25%;
            border-top: 4px solid white;
            border-left: 4px solid white;
            border-top-left-radius: 50px;
            z-index: 5;
            pointer-events: none;
        }

        &::after {
            content: '';
            position: absolute;
            top: -2px;
            right: -2px;
            width: 25%;
            height: 25%;
            border-top: 4px solid white;
            border-right: 4px solid white;
            border-top-right-radius: 50px;
            z-index: 5;
            pointer-events: none;
        }

        &-corner-bl {
            content: '';
            position: absolute;
            bottom: -2px;
            left: -2px;
            width: 25%;
            height: 25%;
            border-bottom: 4px solid white;
            border-left: 4px solid white;
            border-bottom-left-radius: 50px;
            z-index: 5;
            pointer-events: none;
        }

        &-corner-br {
            content: '';
            position: absolute;
            bottom: -2px;
            right: -2px;
            width: 25%;
            height: 25%;
            border-bottom: 4px solid white;
            border-right: 4px solid white;
            border-bottom-right-radius: 50px;
            z-index: 5;
            pointer-events: none;
        }

        &-border {
            position: absolute;
            top: -5px;
            right: -5px;
            bottom: -5px;
            left: -5px;
            overflow: hidden;
            border-radius: 50px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: fill;
                display: block;
            }
        }

        &-target {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 15%;
            aspect-ratio: 1/1;
            border: 1px solid white;
            border-radius: 50%;
            background-color: transparent;
            pointer-events: none;
        }

        &-zoom {
            position: absolute;
            top: 50%;
            right: 5%;
            width: 30px; /* Augmenté pour avoir une zone cliquable plus large */
            height: 70%;
            transform: translateY(-50%) translateX(13px); /* Déplacé pour centrer la ligne */

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                width: 3px;
                height: 100%;
                background: white;
                border-radius: 100px;
                transform: translateX(-50%);
            }

            // Nouvel indicateur de zoom
            &-indicator {
                position: absolute;
                top: 50%; // Position initiale au centre
                left: 50%;
                width: 27px;
                height: 2px;
                background: white;
                transform: translateX(-50%);
                border-radius: 100px;
                transition: top 0.2s ease;
            }

            &-plus {
                position: absolute;
                top: -12%;
                left: 50%;
                transform: translateX(-50%);
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                z-index: 10;

                &-icon {
                    position: relative;
                    width: 27px;
                    height: 27px;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 27px;
                        height: 2px;
                        background: white;
                        transform: translate(-50%, -50%);
                        border-radius: 100px;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 2px;
                        height: 27px;
                        background: white;
                        transform: translate(-50%, -50%);
                        border-radius: 100px;
                    }
                }
            }

            &-minus {
                position: absolute;
                bottom: -12%;
                left: 50%;
                transform: translateX(-50%);
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                z-index: 10;

                &-icon {
                    position: relative;
                    width: 27px;
                    height: 27px;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 27px;
                        height: 2px;
                        background: white;
                        transform: translate(-50%, -50%);
                        border-radius: 100px;
                    }
                }
            }
        }
    }

    &-button {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
        background-color: v.color(text);
        color: v.color(black);
        border: none;
        border-radius: 50%;
        width: map.get(map.get(v.$sizes, camera), size);
        height: map.get(map.get(v.$sizes, camera), size);
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        transition: transform 0.2s;
        z-index: 1;

        &:hover {
            transform: translate(-50%, 50%) scale(1.1);
        }
    }

    &-objective {
        background: v.color(text);
        border: 2px solid v.color(black);
        border-radius: 100px;
        height: 50%;
        width: 50%;
    }

    &-flash {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: v.color(text);
        z-index: map.get(v.$z-index, flash);
        animation: flash 8s ease-out;
    }

    &-notification {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        background-color: rgba(v.color(black), 0.7);
        color: v.color(text);
        border-radius: 5px;
        z-index: map.get(v.$z-index, notification);
        animation: fadeIn 0.3s ease-in;
    }
}
