@font-face {
    font-family: "Articulat CF";
    src: url("/font/ArticulatCF/Articulat CF Normal.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Articulat CF";
    src: url("/font/ArticulatCF/Articulat CF Normal Oblique.ttf") format("truetype");
    font-weight: normal;
    font-style: oblique;
    font-display: swap;
}

@font-face {
    font-family: "Articulat CF";
    src: url("/font/ArticulatCF/Articulat CF Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Articulat CF";
    src: url("/font/ArticulatCF/Articulat CF Thin Oblique.ttf") format("truetype");
    font-weight: 100;
    font-style: oblique;
    font-display: swap;
}

@font-face {
    font-family: "Articulat CF";
    src: url("/font/ArticulatCF/Articulat CF Extra Light.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Articulat CF";
    src: url("/font/ArticulatCF/Articulat CF Extra Light Oblique.ttf") format("truetype");
    font-weight: 200;
    font-style: oblique;
    font-display: swap;
}

@font-face {
    font-family: "Articulat CF";
    src: url("/font/ArticulatCF/Articulat CF Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Articulat CF";
    src: url("/font/ArticulatCF/Articulat CF Light Oblique.ttf") format("truetype");
    font-weight: 300;
    font-style: oblique;
    font-display: swap;
}

@font-face {
    font-family: "Articulat CF";
    src: url("/font/ArticulatCF/Articulat CF Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Articulat CF";
    src: url("/font/ArticulatCF/Articulat CF Light Oblique.ttf") format("truetype");
    font-weight: 300;
    font-style: oblique;
    font-display: swap;
}

@font-face {
    font-family: "Articulat CF";
    src: url("/font/ArticulatCF/Articulat CF Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Articulat CF";
    src: url("/font/ArticulatCF/Articulat CF Regular Oblique.ttf") format("truetype");
    font-weight: 500;
    font-style: oblique;
    font-display: swap;
}

@font-face {
    font-family: "Articulat CF";
    src: url("/font/ArticulatCF/Articulat CF Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Articulat CF";
    src: url("/font/ArticulatCF/Articulat CF Medium Oblique.ttf") format("truetype");
    font-weight: 600;
    font-style: oblique;
    font-display: swap;
}

@font-face {
    font-family: "Articulat CF";
    src: url("/font/ArticulatCF/Articulat CF Demi Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Articulat CF";
    src: url("/font/ArticulatCF/Articulat CF Demi Bold Oblique.ttf") format("truetype");
    font-weight: 700;
    font-style: oblique;
    font-display: swap;
}

@font-face {
    font-family: "Articulat CF";
    src: url("/font/ArticulatCF/Articulat CF Bold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Articulat CF";
    src: url("/font/ArticulatCF/Articulat CF Bold Oblique.ttf") format("truetype");
    font-weight: 800;
    font-style: oblique;
    font-display: swap;
}

@font-face {
    font-family: "Articulat CF";
    src: url("/font/ArticulatCF/Articulat CF Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Articulat CF";
    src: url("/font/ArticulatCF/Articulat CF Heavy Oblique.ttf") format("truetype");
    font-weight: 900;
    font-style: oblique;
    font-display: swap;
}